<IfModule mod_rewrite.c>
#Options +FollowSymlinks
RewriteEngine on
RewriteBase /
RewriteRule ^proxy\.php$ c/php/proxy.php [NC]
</IfModule>

ErrorDocument 400 http://openspace.slopjong.de/error.html
ErrorDocument 401 http://openspace.slopjong.de/error.html
ErrorDocument 403 http://openspace.slopjong.de/error.html
ErrorDocument 404 http://openspace.slopjong.de/error.html
ErrorDocument 500 http://openspace.slopjong.de/error.html
ErrorDocument 503 http://openspace.slopjong.de/error.html
